@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #eb1a4e;
  --secondary-color: #c4c4c4;
  --background-color: #f0f0f0;
  --text-color: #1a1a1a;
  --card-background: #fcfcfc;
  --border-radius: 0.8rem;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
}

h1 {
  font-weight: 600;
}
